:root {
    --text:#ffbc42;
    --white:white;
    --background-black:#252422;
    --background-black-light:#403d39;
    --yellow:yellow;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
  }

.Container {
    min-height: calc(100vh - 10rem - 28rem);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
    background-color: var(--background-black);
}

.header-name {
    margin-left:1rem;
    font-size: 2rem;
    font-weight: 400;
    color:var(--text);
}

#header-name-animation {
    position: static;
    left: 8rem;
    top: 8rem;
    animation: none;
}

@keyframes name {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(360deg);
    }
    100%{
        transform: rotateY(0);
    }
}

.header-icon-close {
    position: absolute;
    right: 0;
    top: 0;
    margin: .8rem;
    z-index: 3;
}

.header-icon-menu {
    width: 4rem;
    height: 4rem;
    margin-right: 1.2rem;
    object-fit: cover;

}

.header-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    min-height: 35rem;
    background-color: var(--background-black-light);
    z-index: 2;
    border-radius: 0 0 0 1rem;
    box-shadow: -1rem 1rem 2rem black;
}

.header-menu-desktop {
    display: none;
}

.header-vinculo {
    font-size: 1.8rem;
    color: var(--text);
    text-decoration: none;
}

.header-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10rem;
    height: 4rem;
}

.contact-vinculo {
    height: 3rem;
    color: var(--text);
    text-decoration: none;
    
}

.contact-img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin-right: .5rem;
}

.footer {
    width: 100%;
    min-height: 28rem;
    background-color: var(--background-black);
    overflow-x: hidden;
}

.footer-contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-vinculo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3.5rem;
    margin-top: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text);
    background-color: var(--background-black-light);
    border-radius: .8rem;
    z-index: 2;
}

.footer-upArrow {
    position: relative;
    bottom: 3.8rem;
    right: .5rem;
    text-align: end;
    animation-name: upArrow;
    animation-duration:1s ;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
   
}

@keyframes upArrow{
    from {
        right: -2rem;

    }

    to{
        right: 2rem;

    }
}

.footer-upArrow-img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.footer-derechos {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    color: var(--white);
    
}

.footer-icon {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    color: var(--white);
}

.footer-icon-vinculo {
    text-decoration: none;
    color: var(--text);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 46rem;
    background-color: var(--background-black);

}


.home-img-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 25.3rem;
    height: 25.3rem;
    border: .1rem solid var(--white);
    border-radius: 50%;
}

.home-img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page-title {
    padding-top: 1rem;
    margin-bottom:.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color:var(--text);
    text-align: center;
}

.page-description {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color:var(--white);
    text-align: center;

}

.home-description {
    width: 95%;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--white);
    text-align: center;
}

.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 48rem;
    background-color: var(--background-black-light);
}

.services-skills {
    margin-bottom: .5rem;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    color:var(--white);
}

.services-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    overflow-x: hidden;

}

.services-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13rem;
    min-height: 15rem;
    margin: 1rem;
    background-color: var(--background-black);
    border-radius: .8rem;


    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#card-1 {
    animation-name: card-1;

}

@keyframes card-1 {
    from {
        opacity: 0;
        transform: translateY(-5rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);


    }
}

.services-card-img {
    width: 5rem;
    height: 5rem;
}

.services-card-serviceName{
    margin-top: .5rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color: var(--text);
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    background-color: var(--background-black-light);
    text-align: center;
}

.blog-button-language{
    min-width: 17rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--background-black);
    background-color: var(--text);
    border-radius: .4rem;
    text-align: center;
}
.blog-button-language:active{
   background-color: var(--yellow);
}

.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.item-card {
    width: 30rem;
    min-height: 18rem;
    margin-top: 2rem;
    background-color: var(--background-black-light);
    border-radius: .8rem;
    box-shadow: .2rem .2rem 1rem .5rem rgba(0,0,0,0.5);
}

.date-time {
    position: relative;
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    background-color: var(--text);
    border-radius:.8rem .8rem 0 0;
}

.item-card-img {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
}

.item-card-title {
    margin: .5rem .5rem;
    font-size: 2rem;
    color: var(--text);
}

.item-card-description {
    margin: 0 .5rem 1rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: var(--white);
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}

.item-card-vinculo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
    max-width: 15rem;
    padding: .5rem;
    margin: 0 auto 1rem;
    font-weight: bold;
    font-style: italic;
    color: var(--background-black);
    background-color: var(--text);
    border-radius: .4rem;
    text-decoration: none;
    text-align: center;
}

.item-card-vinculo:active {
    background-color: var(--yellow);
}

.item-card-arrow-img {
    margin-top: .3rem;
    margin-left: .3rem;
    width: 1.5rem;
    height: 1.5rem;
    
}

.loading {
    margin-top: 3rem;
    font-size: 3rem;
    color: var(--white);

    /* animation-name: loading;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;    */


}

/* @keyframes loading 
{   
    0% {
        color: var(--white);
    }

    30%{
        color: var(--text);
        letter-spacing: .2rem;
    }

    60% {
        letter-spacing: .3rem;
        color:orange;
    }

    90% {
        color: yellow;
        letter-spacing: .4rem;

    }

    100% {
        color: var(--white);
        letter-spacing: 0;

    }
    
} */

.loading-box {
    width: 12rem;
    height: 1rem;
    margin-top: 1rem;
    background-color: var(--white);
    border-radius: .4rem;
}

.loading-box-item {
    width: 0rem;
    height: inherit;
    background-color: var(--text);
    border-radius: .4rem;


    animation-name: box-item;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes box-item {
    0% {
        width: 0rem;
    }
    20% {
        width: 2rem;

    }
    40% {
        width: 4rem;

    }
    60% {
        width: 6rem;

    }
    80% {
        width: 8rem;

    }
    90% {
        width: 10rem;


    }
    100% {
        width: 12rem;
    }
}

.portfolio {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    min-height:45rem;
    background-color: var(--background-black);
}

.portfolio-container {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
   	scroll-snap-type:x proximity;
}

.portfolio-project-item {
    width: 40rem;
    min-height: 30rem;
    margin: 1rem;

    animation-name: portfolio_item;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes portfolio_item {
    from {
        opacity: 0;
        transform: translateY(-5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);

    }
}

.project-item-img {
    width: 25rem;
    height: 25rem;
    object-fit: contain;
    scroll-snap-align: center;
}

.project-item-description {
    text-align: center;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--white);
}

.project-item-vinculo-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.project-item-vinculo {
    width: 8rem;
    padding: .5rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--background-black);
    background-color: var(--text);
    border-radius: .4rem;
    text-decoration: none;
    text-align: center;
}

.project-item-vinculo:active {
    background-color: var(--yellow);
}


@media screen and (min-width:768px){
    .home {
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 1rem;
        min-height: 30rem;
    }

    .home-container {
        width: 40rem;
    }
    .home-description{
        font-size: 1.6rem;
    }

    .header {
        display: inline-block;
    }
    .header-menu-desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-menu-desktop:hover .header-vinculo {
        opacity: 0.3;
    }

    .header-menu-desktop:hover .header-vinculo:hover {
        opacity: 1;
    }

    .header-icon-menu {
        display: none;
    }

    .header-vinculo{
        flex: .1;
        transition: .8s;
        text-align: center;

    }

    .header-vinculo:hover {
        flex: .2;
        color:var(--yellow);
        transition:flex .5s;
        border: .1rem solid var(--yellow);
    }

    .contact-vinculo {
        max-width: 3rem;
        margin-right: 2rem;
    }

    #header-name-animation{
        position: absolute;
        animation: name 5s linear  infinite  both;

    }

    .services {
        min-height: 30rem;
    }

    .services-card-item {
        max-width: 15rem;
        min-height: 15rem;
        max-height: 20rem;
        
    }

    .services-card {
        width: 100%;
        justify-content: space-around;
    }

    .services-card-item {
        animation-duration: .5s;
    }

    .portfolio {
        min-height: 80rem;
    }

    .portfolio-container {
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: hidden;
    }
    .portfolio-project-item {
        width: 30rem;
    }

    .project-item-img {
        width: 30rem;
    }
    
    .project-item-description {
        font-size: 1.8rem;
    }

    .project-item-vinculo:hover {
        background-color: var(--yellow);
        transition: .6s;
    }

    .blog-button-language:hover {
        background-color: var(--yellow);
        transition: .6s;
        cursor: pointer;
        
    }
    
    .blog-container {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
  
    .item-card-vinculo:hover  {
        background-color: var(--yellow);
        transition: .6s;
    }

    .footer-contacts {
        min-height: 20rem;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-vinculo:hover {
        border:.1rem solid var(--yellow);
    }
  
}
